.frame1-container {
  min-height: 100vh;
}
.frame1-frame1 {
  width: 1536px;
  height: 763px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1536px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-blackbox {
  top: 18px;
  left: 20px;
  width: 518px;
  height: 730px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.frame1-whitebox {
  top: 185px;
  left: 321px;
  width: 461px;
  height: 426px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-svg {
  top: -131px;
  width: 113px;
  height: 990px;
  position: absolute;
}
.frame1-svg1 {
  top: 633px;
  left: 700px;
  width: 22;
  height: 17;
  position: absolute;
}
.frame1-profilepic {
  top: 160px;
  left: 343px;
  width: 439px;
  height: 436px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(62, 62, 62, 1);
}
.frame1-svg2 {
  top: 452px;
  left: 47px;
  width: 38;
  height: 29;
  position: absolute;
}
.frame1-svg3 {
  top: 628px;
  left: 746px;
  width: 22;
  height: 22;
  position: absolute;
}
.frame1-svg4 {
  top: 628px;
  left: 654px;
  width: 22;
  height: 22;
  position: absolute;
}
.frame1-svg5 {
  top: 285px;
  left: 875px;
  width: 1;
  height: 116;
  position: absolute;
}
.frame1-text {
  top: 285px;
  left: 910px;
  color: rgba(0, 0, 0, 1);
  width: 399px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text1 {
  top: 358px;
  left: 910px;
  color: rgba(0, 0, 0, 1);
  width: 386px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Lora;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-contactme {
  top: 426px;
  left: 901px;
  width: 163px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-projects {
  top: 426px;
  left: 1088px;
  width: 163px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-text5 {
  top: 434px;
  left: 899px;
  color: rgba(0, 0, 0, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Arial;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text6 {
  top: 435px;
  left: 1089px;
  color: rgba(0, 0, 0, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Arial;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-homeicon {
  top: 174px;
  left: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.frame1-group {
  top: 276px;
  left: 47px;
  width: 39px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-frame2993773gitsocialmediaicon1 {
  top: 364px;
  left: 47px;
  width: 38px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.frame1-group1 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-boondocks1 {
  top: 160px;
  left: 341px;
  width: 441px;
  height: 436px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.frame1-svg6 {
  top: 628px;
  left: 608px;
  width: 22;
  height: 22;
  position: absolute;
}
