*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100%;
    height: 100vh;
    outline: blue 1px solid;
    display: flex;
}


.container > *:nth-child(1){
    flex-basis: 7.4%;
}

.container > *:nth-child(2){
    flex-basis: 92.6%;
}

/* Menu section */
.menu-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/* Menu section */
.menu-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 47px;
}

/* Description section */
.description-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-box{
    width: 1185px;
    height: 454px;
    border: 2px solid black;
    border-style: dashed;
    display: flex;
    align-items: center;
}
.description-text{
    width: 100%;
    text-align: center;
}

.headline{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 25px;
}

.sub-text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 0px 22px;
}