*{
    margin: 0px;
    padding: 0px;
}

/* The main container */
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    height: 451px;
}



.container > *:nth-child(1){
    flex-basis: 7.4%;
}

.container > *:nth-child(2){
    flex-basis: 43.45%;
}

.container > *:nth-child(3){
    flex-basis: 49.15%;
}


/* Menu section */
.menu-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 47px;
}


/* Profile picture section */
.profile-pic-container{
    position: relative;
    margin-left: 29.9%;
    height: 100%;
    align-items: center;
}

.profile-pic{
    position: absolute;
    right: 0px;
    width: 94.28%;
}

.white-box{
    position: absolute;
    top: 5.54%;
    left: 0px;
    width: 98.6%;
}

/* Description section */
.description-section{
    display: flex;
    background-color: white;
    height: 90%;
}



.description-section > *:nth-child(1){
    flex-basis: 5%;
}

.description-section > *:nth-child(2){
    flex-basis: 95%;
}

.description{
    display: flex;
    align-items: center;
    margin-left: 5%;
    outline: none;
}


    /* Black line */
.black-line-section{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 90%;
    margin-left: 12.32%;
}

.black-line-section > *:nth-child(1){
    height: 116px;
}

    /* Name */
.name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 65;
    margin: 0px;
}

    /* JOB */
.job{
    font-family: 'Lora';
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 30px;
}

    /* Projects link */
a{
    color: black;
    text-decoration: none;
}    
.project-link{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 7px 25px;
    margin-right: 23px;
}

.project-link:hover{
    border: 2px solid black;
}

.contact-link{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 7px 25px;
}

.contact-link:hover{
    border: 2px solid black;
}